body {
    font-family: 'B612', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #6A0DAD, #FFD700);
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.opciones {
    display: flex;
    gap: 50px;
    opacity: 0;
    animation: aparecer-opciones 1s forwards 1s;
}

.opcion {
    position: relative;
    width: 200px;
    height: 250px;
    perspective: 1000px;
}

.icono {
    font-size: 5em;
    color: #fff;
    margin-bottom: 20px;
    transition: transform 0.5s, color 0.3s;
}

.opcion:hover .icono {
    transform: rotateY(360deg);
    color: #FFD700; /* Cambiar el color al girar */
}

button {
    background-color: #f7b77c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Impact', sans-serif;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #e9a15e;
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(-2px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

@keyframes aparecer-opciones {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
