@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612:ital,wght@0,400;0,700;1,400;1,700&family=Ms+Madi&display=swap');


.logo{
    color: #b95131;
    background-color: #ffdcb4;
    font-family: "Ms Madi";
    font-size: 3em;
    margin: 0;
    margin-bottom: 0.5em;
    margin-left: 0.15em;
    padding: 0;
    padding-top: 0.1em;
    border-radius: 1vi;
}

.ynihs{
    
    background: linear-gradient(30deg, #ffdcb4,#ffdcb4 40%,#ffffff 50%,#ffdcb4,#ffdcb4);
    animation: shine-go 0.5s ease-in-out reverse;
}

@keyframes shine-go{
    0%{
        background: linear-gradient(#ffdcb4);
        background-position: 10em;
    }
    100%{
        background-position: 0em;
        background: linear-gradient(30deg, #ffdcb4,#ffdcb4 40%,#ffffff 50%,#ffdcb4,#ffdcb4);
    }

}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   background-color: white;
}

.container {
    position: absolute;
    text-align: center;
    opacity: 1;
}

.logo {
    margin-top: -20%;
    margin-left: 35%;
    position: absolute;
    opacity: 1;
}

.opciones {
    opacity: 0;
    animation: aparecer-opciones 1s forwards 1s;
}

.logo img {
 
    width: 18vi; /* Ajusta el tamaño de acuerdo a tu logo */
    display: block;
    margin: 0 auto 20px;
}

.opciones {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    border-radius: 1vi;
    width: 15vi;
    height: 20vi;
    padding: 1vi 2vi;
    margin: 5vi;
    font-size: 2vi;
    background-color: #f7b77c;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e9a15e;
}

@keyframes aparecer-logo {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes desaparecer-logo {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes aparecer-opciones {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
